@keyframes scaleIn {
  0% {
    width: 0px;
  }
  100% {
    width: 250px;
  }
}
@keyframes scaleOut {
  0% {
    width: 250px;
  }
  100% {
    width: 0px;
  }
}
.navigation {
  width: 250px;
  background-color: var(--header_background);
  overflow: hidden;
}
.navigation.open {
  width: 250px;
  animation: scaleIn 0.3s ease-in-out;
}
.navigation.close {
  width: 0px;
  animation: scaleOut 0.3s ease-in-out;
}
.asideWrapper {
  display: flex;
  height: 100vh;
  border-left: 1px solid var(--border_color);
  .header {
    display: flex;
    width: 100%;
    .title {
      position: relative;
      align-items: center;
      justify-content: center;
      height: 48px;
      border-bottom: 1px solid var(--border_color);
      display: flex;
      flex: 1 0 auto;
      width: 100%;
      .closeIcon {
        position: absolute;
        top: -2px;
        right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 15px;
        height: 30px;
        width: 30px;
        margin: 10px 5px 8px 8px;
        border-radius: 5px;
        border: 1px solid transparent;
        $mouse-device: '(hover: hover) and (pointer: fine)';
        &:hover:not(.flex, .profile) {
          @media #{$mouse-device} {
            transition: background 0.1s ease-in-out;
            background-color: var(--input_background);
            border: 1px solid var(--header_border);
          }
        }
      }
    }
  }
}
