.columnBox {
  border-radius: 15px;
  margin-right: 10px;
  height: 100%;
  & > div {
    background-color: black;
    border-radius: 15px;
    .button {
      margin-top: 10px;
      background-color: gray;
      border-radius: 5px;
      width: 252px;
      height: 30px;
      margin: 10px 10px 10px;
    }
    & > div {
      width: 272px; //columnBox и columnTitle
    }
  }
  .columnTitle {
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: black;
    padding: 10px 10px 10px;
    h2 {
      flex: 1;
      top: 0px;
      left: 10px;
      font-size: 14px;
      overflow: hidden;
    }
    span {
    }
  }
  .itemsBox {
    border-radius: 15px;
    padding: 0px 10px 0px;
    overflow: auto;
    // max-height: calc(100vh - 48px - 30px);
    // max-height: calc(85vh - 48px - 30px);
    max-height: 75vh;
    min-height: 1px;
    height: 100%;
    flex-shrink: 0;
    height: fit-content;
    .items {
      // background-color: #22272b;
      // background-color: #1012043e;
      // overflow-y: auto;
      // height: auto;
      flex: 1 2 auto;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      width: 100%;
      // height: fit-content;
      & > div:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
