.wrapper {
  display: flex;
  flex-direction: column;

  .navItems {
    .itemBox {
      background-color: transparent;
      padding: 5px 5px 0px 5px;
      .navItem {
        cursor: pointer;
        //TODO: защиту от переполнения текстом
        flex-wrap: nowrap;
        padding: 5px 9.5px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .picture {
          margin-right: 15px;
        }
        .flex {
          flex: 1;
        }
        .favorite {
          border: 1px solid transparent;
          border-radius: 5px;
          padding: 4px;
          &:hover {
            border: 1px solid var(--header_border);
          }
        }
        $mouse-device: '(hover: hover) and (pointer: fine)';
        border-radius: 5px;
        border: 1px solid transparent;
        &:hover:not(.flex, .profile) {
          @media #{$mouse-device} {
            transition: background 0.1s ease-in-out;
            background-color: var(--input_background);
            border: 1px solid var(--header_border);
          }
        }
      }
    }
  }
}
